<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Form Example</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <form method="POST">
        <input class="textbox" type="text" name="city" placeholder="Enter city name">
        <button class="btn" type="submit">✧Send</button>
    </form>

    {% if temp %}
    <div class="temp">
        {{ temp }}
    </div>
    {% endif %}

    {% if time %}
    <p class="time">
        {{ time }}
    </p>
    {% endif %}

    {% if date %}
    <p class="date">
        {{ date }}
    </p>
    {% endif %}
    

</body>

</html>