<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Weather Update</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<header class="wthrhead">
    <h1>Weather App</h1>
    <a href="/" class="linkw">Shinko Ai</a>
</header>

<body class="wthr">
    <form method="POST">
        <input class="textbox" type="text" name="city" placeholder="Enter city name">
        <button class="btn" type="submit">✧Send</button>
    </form>

    {% if data %}
    <div class="temp">
        {{ data|safe }}
    </div>
    {% endif %}

    <div class="time" id="timewthr">
        {% if time %}
        <p>
            {{ time }}
        </p>
        {% endif %}
    </div>

    <div class="date" id="datewthr">
        {% if date %}
        <p>
            {{ date }}
        </p>
        {% endif %}
    </div>

</body>

<script>
    function updateDateTime() {
        fetch('/datetime')
            .then(response => response.json())
            .then(data => {
                document.getElementById('timewthr').innerText = data.time;
                document.getElementById('datewthr').innerText = data.date;
            });
    }

    setInterval(updateDateTime, 5000);
    updateDateTime();
    window.onload = function () {
        var tempDiv = document.getElementsByClassName("temp")[0];
        if (tempDiv) {
            tempDiv.scrollTop = tempDiv.scrollHeight;
        }
    };
</script>

</html>