<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Shinko Chatbot</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<header class="aihead">
    <h1>Shinko ai</h1>
    <a href="/wthr" class="linka">Weather App</a>
</header>

<body class="ai">
    <form method="POST">
        <input class="textbox" type="text" name="city" placeholder="Message" autocomplete="off">
        <button class="btn" type="submit">✧Send</button>
    </form>

    {% if chat %}
    <div class="temp">
        {{ chat|safe }}
    </div>
    {% endif %}

    <div class="time" id="timeai">
        {% if time %}
        <p>
            {{ time }}
        </p>
        {% endif %}
    </div>

    <div class="date" id="dateai">
        {% if date %}
        <p>
            {{ date }}
        </p>
        {% endif %}
    </div>

</body>

<script>
    function updateDateTime() {
        fetch('/datetime')
            .then(response => response.json())
            .then(data => {
                document.getElementById('time').innerText = data.time;
                document.getElementById('date').innerText = data.date;
            });
    }

    setInterval(updateDateTime, 5000); // har 5 sec mein update hoga
    updateDateTime(); // page load ke sath bhi ek baar call
</script>

</html>